<div class="py-4 widget-filter border-top">
    <a class="small text-body text-decoration-none text-secondary-hover transition-all transition-all fs-6 fw-bolder d-block collapse-icon-chevron"
       data-bs-toggle="collapse" href="#filter-brands" role="button" aria-expanded="true"
       aria-controls="filter-brands">
        {{ lang.brands }}
    </a>
    <div id="filter-brands" class="collapse show">
        <div class="input-group my-3 py-1">
            <input type="text" class="form-control py-2 filter-search rounded" placeholder="Search" aria-label="Search">
            <span class="input-group-text bg-transparent px-2 position-absolute top-7 end-0 border-0 z-index-20"><i class="ri-search-2-line text-muted"></i></span>
        </div>
        <div class="simplebar-wrapper" data-filter-group="brands">
            <div class="filter-options" data-pixr-simplebar>
                <div class="form-group form-check mb-0">
                    <input type="checkbox" value="Adidas" class="form-check-input brand" id="filter-brand-0">
                    <label class="form-check-label fw-normal text-body flex-grow-1 d-flex justify-content-between"
                           for="filter-brand-0">Arcigraphic
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>