<div class="col-12 col-md-10 col-lg-8 mx-auto">
    <p>We believe you will completely happy with your item, however if you aren't, there's
        no need to worry. We've
        listed below the ways you can return your item to us.</p>
    <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item px-0 py-4 bg-transparent">
            <p class="fw-bolder">Return via post</p>
            <p class="fs-6">To return your items for free through the postal system, please
                complete the returns form that
                comes with your order. You'll find a label at the bottom of the form. Simply
                peel the label and head to your
                nearest post office.</p>
        </li>
        <li class="list-group-item px-0 py-4 bg-transparent">
            <p class="fw-bolder">Return in person</p>
            <p class="fs-6">To return your items for free in person, simply stop into any
                one of our locations and speak
                to a member of our in-store team.</p>
        </li>
    </ul>
    <div class="bg-light rounded p-3">
        <p class="fs-6">Form more information, please see our returns FAQs <a
                    href="#">here</a></p>
        <p class="m-0 fs-6">If you do not find the answer to your query, please contact our
            customer support team on
            <b>0800 123 456</b> or email us at <b>support@domain.com</b>. We aim to respond
            within 48 hours to queries.
        </p>
    </div>
</div>