{% extends template ~ "/layout/layout.twig" %}
{% block content %}
    <section class="mt-0" style="padding-top: 1.5rem">
        <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
             style="background-image: url({{ basepath }}/templates/arcigraphic/img/azienda/azienda.jpg);">
            <div class="container position-relative z-index-8 customTop" data-aos="fade-right" data-aos-delay="300">
                <!-- Breadcrumbs-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item"><a href="{{ basepath }}/">Home</a></li>
                        <li class="breadcrumb-item"><a style="color: #009fe2" href="{{ basepath }}/catalogo">Catalogo</a></li>
                      

                    </ol>
                </nav>            <!-- /Breadcrumbs-->
            </div>
        </div>
    </section>
    <section style="padding:1rem">
    <embed src="{{basepath}}/templates/arcigraphic/img/arcigraphic CATALOGO 2023.pdf" width="800px" style="width:100%;margin:auto" height="2100px" />
    </section>
{% endblock %}