<section class="container-lg section-cards p-4 pt-8">
    <div class="row">
        <div class=" col-12 col-sm-12 col-md-3">
            <div class="card">
                <img class="img-fluid" src="{{ basepath }}/templates/img/SOCCER.png" alt="calcio"/>
                <div class="card-body">
                    <h6 class="card-title text-uppercase">Calcio</h6>
                    <div class="d-flex flex-column align-items-start justify-content-between">
                        <small id="liveToastBtn" class="text-uppercase card-text">Visita il nostro
                            catalogo</small>
                        <small class="ms-auto text-uppercase">Shop now</small>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-12 col-sm-12 col-md-3">
            <div class="card">
                <img class="img-fluid" src="{{ basepath }}/templates/img/VOLLEY.png"/>
                <div class="card-body">
                    <h6 class="card-title text-uppercase">Special title treatment</h6>
                    <div class="d-flex flex-column align-items-start justify-content-between">
                        <small id="liveToastBtn" class="text-uppercase card-text">With supporting.</small>
                        <small class="ms-auto text-uppercase">Shop now</small>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-12 col-sm-12 col-md-3">
            <div class="card">
                <img class="img-fluid" src="{{ basepath }}/templates/img/BASKET.png" alt="basket"/>
                <div class="card-body">
                    <h6 class="card-title text-uppercase">Special title treatment</h6>
                    <div class="d-flex flex-column align-items-start justify-content-between">
                        <small id="liveToastBtn" class="text-uppercase card-text">With supporting.</small>
                        <small class="ms-auto text-uppercase">Shop now</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
            <div class="card">
                <img class="img-fluid" src="{{ basepath }}/templates/img/RUNNING.png" alt=""/>
                <div class="card-body">
                    <h6 class="card-title text-uppercase">Special title treatment</h6>
                    <div class="d-flex flex-column align-items-start justify-content-between">
                        <small id="liveToastBtn" class="text-uppercase card-text">With supporting.</small>
                        <small class="ms-auto text-uppercase">Shop now</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>