/* From theme bundle */
.accordion-button:not(.accordion-button-stripped) {
    background: #f6f6f6;
    color: #1c212c;
    border-radius: 0.25rem;
}
.accordion-button:after {
    border: 0;
    font-family: var(--theme-font-icon);
    font-style: var(--theme-font-icon-style);
    content: "";
    margin: 0;
    font-size: 1.25rem;
    background: transparent !important;
    display: block;
    position: absolute;
    color: #1c212c;
    right: 0.75rem;
    top: 25%;
}
.accordion-button:not(.collapsed):after {
    content: "";
    color: #fff;
    transform: none !important;
}
.accordion-button:not(.collapsed):not(.accordion-button-stripped) {
    background: #1c212c;
    color: #fff;
}
.accordion-item {
    margin-bottom: 1px;
}
.accordion-button-stripped:after {
    right: 0;
}
.accordion-button-stripped:not(.collapsed):after {
    color: #1c212c;
    content: "";
    transform: none !important;
}
.accordion-button-stripped,
.accordion-button-stripped:not(.collapsed) {
    background: transparent;
    border-radius: 0 !important;
    padding-left: 0;
    font-weight: 500;
}
.accordion-stripped {
    border-bottom: 1px solid #e9eaea;
}
.accordion-button-stripped:not(.collapsed) {
    color: #1c212c;
}
.accordion-stripped:first-of-type {
    border-top: 1px solid #e9eaea;
}
.accordion-body-stripped {
    padding-left: 0;
    padding-right: 0;
}
.accordion-icon-plus:after {
    content: "";
}
.accordion-icon-plus:not(.collapsed):after {
    content: "";
}
.accordion-icon-left.accordion-button {
    padding-left: 2.5rem;
}
.accordion-icon-left.accordion-button:after {
    right: auto;
    left: 0.5rem;
}
.accordion-icon-left.accordion-button.accordion-button-stripped:after {
    left: 0;
}
.accordion-icon-left.accordion-body {
    padding-left: 2.5rem;
}