.pi {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    width: 40px;
    min-height: 30px;
    background-origin: padding-box;
}
.pi.pi-paypal {
    background: url(../../../svgs/paypal.svg) 50% no-repeat;
}
.pi.pi-apple-pay {
    background: url(../../../svgs/apple-pay.svg) 50% no-repeat;
}
.pi.pi-google-pay {
    background: url(../../../svgs/google-pay.svg) 50% no-repeat;
}
.pi.pi-alipay {
    background: url(../../../svgs/alipay.svg) 50% no-repeat;
}
.pi.pi-mastercard {
    background: url(../../../svgs/mastercard.svg) 50% no-repeat;
}
.pi.pi-visa {
    background: url(../../../svgs/visa.svg) 50% no-repeat;
}
.pi.pi-american-express {
    background: url(../../../svgs/american-express.svg) 50% no-repeat;
}
.pi.pi-diners-club {
    background: url(../../../svgs/diners-club.svg) 50% no-repeat;
}
.pi.pi-maestro {
    background: url(../../../svgs/maestro.svg) 50% no-repeat;
}
.pi.pi-vpay {
    background: url(../../../svgs/vpay.svg) 50% no-repeat;
}
.pi.pi-girocard {
    background: url(../../../svgs/girocard.svg) 50% no-repeat;
}
.pi.pi-klarna {
    background: url(../../../svgs/klarna.svg) 50% no-repeat;
}
.pi.pi-giropay {
    background: url(../../../svgs/giropay.svg) 50% no-repeat;
}
.pi.pi-ideal {
    background: url(../../../svgs/ideal.svg) 50% no-repeat;
}
.pi.pi-przelewy24 {
    background: url(../../../svgs/przelewy24.svg) 50% no-repeat;
}
.pi.pi-bitcoin {
    background: url(../../../svgs/bitcoin.svg) 50% no-repeat;
}
.pi.pi-ethereum {
    background: url(../../../svgs/ethereum.svg) 50% no-repeat;
}
.pi.pi-ripple {
    background: url(../../../svgs/ripple.svg) 50% no-repeat;
}
.pi.pi-lg {
    width: 80px;
}
.pi.pi-sm {
    width: 25px;
    min-height: 15px;
}