/* From theme bundle */
.popover {
    box-shadow: 0 1rem 2.5rem rgba(29, 48, 61, 0.125);
}
.popover-gray .popover-arrow {
    margin-bottom: 1px;
}
.popover-gray .popover-arrow:after,
.popover-gray .popover-arrow:before {
    border-top-color: #a0a0a2;
}
.popover-gray .popover-body {
    background: #a0a0a2;
}
.popover-gray.bs-popover-auto[data-popper-placement^="right"] .popover-arrow,
.popover-gray.bs-popover-end .popover-arrow {
    margin-bottom: 0;
}
.popover-gray.bs-popover-auto[data-popper-placement^="right"]
.popover-arrow:after,
.popover-gray.bs-popover-auto[data-popper-placement^="right"]
.popover-arrow:before,
.popover-gray.bs-popover-end .popover-arrow:after,
.popover-gray.bs-popover-end .popover-arrow:before {
    border-top-color: transparent;
    border-right-color: #a0a0a2;
}
.popover-gray.bs-popover-auto[data-popper-placement^="left"] .popover-arrow,
.popover-gray.bs-popover-start .popover-arrow {
    margin-bottom: 0;
}
.popover-gray.bs-popover-auto[data-popper-placement^="left"]
.popover-arrow:after,
.popover-gray.bs-popover-auto[data-popper-placement^="left"]
.popover-arrow:before,
.popover-gray.bs-popover-start .popover-arrow:after,
.popover-gray.bs-popover-start .popover-arrow:before {
    border-top-color: transparent;
    border-left-color: #a0a0a2;
}
.popover-gray.bs-popover-auto[data-popper-placement^="bottom"] .popover-arrow,
.popover-gray.bs-popover-bottom .popover-arrow {
    margin-bottom: 0;
    margin-top: 1px;
}
.popover-gray.bs-popover-auto[data-popper-placement^="bottom"]
.popover-arrow:after,
.popover-gray.bs-popover-auto[data-popper-placement^="bottom"]
.popover-arrow:before,
.popover-gray.bs-popover-bottom .popover-arrow:after,
.popover-gray.bs-popover-bottom .popover-arrow:before {
    border-top-color: transparent;
    border-bottom-color: #a0a0a2;
}
.popover-dark .popover-arrow {
    margin-bottom: 1px;
}
.popover-dark .popover-arrow:after,
.popover-dark .popover-arrow:before {
    border-top-color: #1c212c;
}
.popover-dark .popover-body {
    background: #1c212c;
    color: #fff;
}
.popover-dark.bs-popover-auto[data-popper-placement^="right"] .popover-arrow,
.popover-dark.bs-popover-end .popover-arrow {
    margin-bottom: 0;
}
.popover-dark.bs-popover-auto[data-popper-placement^="right"]
.popover-arrow:after,
.popover-dark.bs-popover-auto[data-popper-placement^="right"]
.popover-arrow:before,
.popover-dark.bs-popover-end .popover-arrow:after,
.popover-dark.bs-popover-end .popover-arrow:before {
    border-top-color: transparent;
    border-right-color: #1c212c;
}
.popover-dark.bs-popover-auto[data-popper-placement^="left"] .popover-arrow,
.popover-dark.bs-popover-start .popover-arrow {
    margin-bottom: 0;
}
.popover-dark.bs-popover-auto[data-popper-placement^="left"]
.popover-arrow:after,
.popover-dark.bs-popover-auto[data-popper-placement^="left"]
.popover-arrow:before,
.popover-dark.bs-popover-start .popover-arrow:after,
.popover-dark.bs-popover-start .popover-arrow:before {
    border-top-color: transparent;
    border-left-color: #1c212c;
}
.popover-dark.bs-popover-auto[data-popper-placement^="bottom"] .popover-arrow,
.popover-dark.bs-popover-bottom .popover-arrow {
    margin-bottom: 0;
    margin-top: 1px;
}
.popover-dark.bs-popover-auto[data-popper-placement^="bottom"]
.popover-arrow:after,
.popover-dark.bs-popover-auto[data-popper-placement^="bottom"]
.popover-arrow:before,
.popover-dark.bs-popover-bottom .popover-arrow:after,
.popover-dark.bs-popover-bottom .popover-arrow:before {
    border-top-color: transparent;
    border-bottom-color: #1c212c;
}