{% extends template ~ "/layout/layout.twig" %}
{% block content %}
    <section class="mt-0" style="padding-top: 8.5rem">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Privacy</h1>
                    <br />
                    <br />
                    <p>
                        Arcigraphic è impegnata a tutelare la privacy dei propri clienti. La presente Privacy e Cookie Policy descrive le informazioni che raccogliamo, come le usiamo e le nostre misure di sicurezza per proteggere le informazioni.
                    </p>
                    <h4>
                        Informazioni raccolte
                    </h4>
                    <p>
                        Raccogliamo informazioni personali come nome, indirizzo e-mail, indirizzo postale, numero di telefono e altri dati forniti volontariamente dai nostri clienti.
                    </p>
                    <p>
                        Inoltre, raccogliamo informazioni sull'utilizzo del nostro sito web, come ad esempio le pagine visitate, i prodotti acquistati e i servizi utilizzati.
                    </p>
                    <h4>
                        Utilizzo delle informazioni
                    </h4>
                    <p>
                        Le informazioni raccolte vengono utilizzate per fornire ai nostri clienti un servizio migliore, compreso l'invio di informazioni sui nostri prodotti e servizi.
                    </p>
                    <p>
                        Inoltre, le informazioni possono essere utilizzate per migliorare la qualità del nostro servizio, per monitorare l'utilizzo del nostro sito web e per personalizzare la navigazione.
                    </p>
                    <h4>
                        Sicurezza delle informazioni
                    </h4>
                    <p>
                        Le informazioni personali dei nostri clienti sono protette da accessi non autorizzati. Utilizziamo tecnologie di sicurezza avanzate per proteggere le informazioni da accessi non autorizzati, uso improprio o divulgazione.
                    </p>
                    <h4>
                        Cookie
                    </h4>
                    <p>
                        Utilizziamo i cookie per migliorare l'esperienza dei nostri clienti e per monitorare l'utilizzo del nostro sito web.
                    </p>
                    <p>
                        I cookie sono piccoli file di testo che vengono memorizzati sul computer dell'utente. Permettono al sito web di riconoscere un utente e di personalizzare la navigazione in base alle sue preferenze.
                    </p>
                    <p>
                        I cookie possono essere disabilitati dalle impostazioni del browser dell'utente in qualsiasi momento.
                    </p>
                    <h4>
                        Aggiornamenti
                    </h4>
                    <p>
                        Questa Privacy e Cookie Policy può essere soggetta a modifiche in qualsiasi momento.
                    </p>
                    <p>
                        Vi invitiamo a controllare periodicamente questa pagina per verificare eventuali aggiornamenti.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}