{% extends template ~ "/layout/layout.twig" %}
{% block content %}
    <section class="mt-0" style="padding-top: 8.5rem">
        <div class="container">
            <!-- row -->
            <br/>
            <br/>
            <div class="row container">
                <br/><br/>
                <h4>{{ lang.wire_text }}</h4>
                <br/><br/>
                <h5>Arcigraphic srl</h5>
                <h5>IT37J0837876090000000335568</h5>
                <h5>BIC: ICRAITRRAI0</h5>
                <br/>
                <h5 class="text-success">{{ lang.greeting }}</h5>
                <br/>
                <br/>
                <br/>
            </div>
            <!-- /row -->
        </div>
    </section>
{% endblock %}