<div class="offcanvas offcanvas-end d-none" tabindex="-1" id="offcanvasWishlist">
    <div class="offcanvas-header d-flex align-items-center">
        <h5 class="offcanvas-title" id="offcanvasWishlistLabel">Wishlist</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column justify-content-between w-100 h-100">
            <div>
                <!-- Wishlist Product-->
                <div class="row mx-0 pb-4 mb-4 border-bottom">
                    <div class="col-3">
                        <picture class="d-block bg-light">
                            <img class="img-fluid" src="{{ basepath }}/templates/images/lettiere/lettiera-1.jpg">
                        </picture>
                    </div>
                    <div class="col-9">
                        <div>
                            <h6 class="justify-content-between d-flex align-items-start mb-2">Mens StormBreaker Jacket<i class="ri-close-line"></i></h6>
                            <small class="d-block text-muted fw-bolder">Size: Medium</small>
                            <small class="d-block text-muted fw-bolder">Qty: 1</small>
                        </div>
                        <div class="text-end">
                            <a class="btn btn-dark btn-add-cart m-0">Add to cart</a>
                        </div>
                    </div>
                </div>
                <!-- CartCheckout Product-->
                <div class="row mx-0 pb-4 mb-4 border-bottom">
                    <div class="col-3">
                        <picture class="d-block bg-light">
                            <img class="img-fluid" src="{{ basepath }}/templates/images/guinzagli/guinzaglio-2.jpeg">
                        </picture>
                    </div>
                    <div class="col-9">
                        <div>
                            <h6 class="justify-content-between d-flex align-items-start mb-2">Mens Torrent Terrain Jacket<i class="ri-close-line"></i></h6>
                            <small class="d-block text-muted fw-bolder">Size: Medium</small>
                            <small class="d-block text-muted fw-bolder">Qty: 1</small>
                        </div>
                        <div class="text-end">
                            <a class="btn btn-dark btn-add-cart m-0">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>