{% extends template ~ "/layout/layout.twig" %} 
	{% block content %} 
<section class="mt-0" style="padding-top: 8.5rem">
	<!-- Page Content Goes Here -->
	<section class="mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>{{lang.confirm_sub}}</h3> 
					<p>{{lang.sub_ok}}</p>
				</div>
			</div>
	</section>
</section>
<!-- /Page Content --> {% endblock %}